/*  your css code here. If applicable */
main{
	width:900px;
	height:400px;
	  background-color:#948d8d;
}
.container{
	
	background-color:white;
	border:1px  black;
	padding:10px;
	margin:10px
}
.container>.p1{
	text-align:right;
	font-style:italic;
}